@{
    ViewBag.Title = "PsakeZero";
}

<div class="splash-container">
    <div class="splash">
        <img class="psakezero-logo" alt="PsakeZero" src="/assets/img/logo.png">
        <p class="splash-subhead">
            A simple script to setup your source tree
        </p>
        <code class="code-snippet">Invoke-WebRequest <span>psakezero.com |</span> Invoke-Expression</code>

    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Ships with typical opinions</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-terminal"></i> Answer a handful of prompts
                </h3>
                <p>
                    Once you start the script it will walk you through a few questions to get things setup. A couple of names and some defaults and you are done.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-bolt"></i> Bootstraps Psake and Nuget
                </h3>
                <p>
                    Part of the install process your repo will get local copies of Psake and Nuget.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-git"></i> Sets up your dot git and readme files
                </h3>
                <p>
                    You'll also get started with a simple .gitattributes and a community driven .gitignore file from GitHub.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-database"></i> Gives you CI and database migration options
                </h3>
                <p>
                    If you project is headed to a CI server it you can optionally drop in a Psake task to wrap those specifics. Same goes for database migration tasks.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-12-24">
            <img class="pure-img-responsive service-icons" alt="Powershell" src="~/Assets/img/powershell-logo.png" />
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
            <h2 class="content-head content-head-ribbon">Powershell</h2>
            <p>
                It all starts with Powershell. Windows machines has it installed and that is where we start. The end goal is to make it easy
                for developers to execute the build and yet give them easy access to the tasks your team creates.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">How do I get started?</h2>
        <div class="pure-g">

            <div class="l-box-lrg pure-u-1 pure-u-md-3-24 is-center"><a href="https://github.com/psakezero"><i class="fa fa-github section-icons" aria-hidden="true"></i></a></div>

            <div class="l-box-lrg pure-u-1 pure-u-md-9-24">
                <h3>Look at the script</h3>
                <p>
                    You'll need to execute a remote script. That can be scary so but it is open source so you can see what the
                    script does at any time.
                </p>
                <h4><a href="https://github.com/psakezero">https://github.com/psakezero</a></h4>
                <p>If you have any questions, comments or concerns please open an <a href="https://github.com/psakezero/webapp/issues">issue</a> and we'll work on it</p>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-24 is-center"><i class="fa fa-terminal section-icons"></i></div>

            <div class="l-box-lrg pure-u-1 pure-u-md-9-24">
                <h3>Run the remote script</h3>
                <p>You'll need to execute a remote script but, again, it is open for you to see</p>
                <p>Run the following:</p>
                <code>
                    Invoke-WebRequest psakezero.com | Invoke-Expression<br>
                    iwr psakezero.com | iex
                </code>
                <p>
                    This uses the Invoke-WebRequest cmdlet to GET the script that lives on GitHub and send it to your client. From there it is
                    piped to the Invoke-Expression cmdlet where it executes on your machine
                </p>
            </div>

        </div>
    </div>


    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-12-24">
            <img class="pure-img-responsive service-icons" alt="Psake" src="~/Assets/img/psake-logo.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
            <h2 class="content-head content-head-ribbon">Leverages Psake</h2>
            <p>
                The nice thing about psake is that it just works. We bootstrap it for you so you
                don't even have to worry about finding it. It handles task dependencies and makes
                sure to surface error codes to your host process.
            </p>
        </div>
    </div>


    <div class="content">
        <h2 class="content-head is-center">Ok I executed the remote script. Now what?</h2>
        <div class="pure-g">

            <div class="l-box-lrg pure-u-1 pure-u-md-3-24 is-center"><i class="fa fa-question section-icons" aria-hidden="true"></i></div>

            <div class="l-box-lrg pure-u-1 pure-u-md-9-24">
                <h3>Answer a handful of questions</h3>
                <p>The script will prompt you for a number of questions. Your answers will drive what the resulting source tree looks like.</p>
                <p>The questions are:</p>
                <ul>
                    <li>What your company and product names are</li>
                    <li>What your source code, build artifacts, tools directory and build script should be named</li>
                    <li>If the project should be setup to use Nuget Package Restore</li>
                    <li>If TeamCity log messages and Octopus Deploy msbuild tasks should be enabled</li>
                    <li>Add unit test and rebuild database Psake tasks</li>
                </ul>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-24 is-center"><i class="fa fa-tree section-icons"></i></div>

            <div class="l-box-lrg pure-u-1 pure-u-md-9-24">
                <h3>Well take all your answer and create a inital tree for you</h3>
                <p>This is just an example and even if none of the defaults are to your liking you can change, commit and forget you even used PsakeZero</p>
                <p>Something like:</p>
                <ul style="list-style-type: none;">
                    <li><i class="fa fa-folder-o" aria-hidden="true"></i> artifacts</li>
                    <li><i class="fa fa-folder-o" aria-hidden="true"></i> src</li>
                    <li><i class="fa fa-folder-o" aria-hidden="true"></i> tools</li>
                    <li><i class="fa fa-file-o" aria-hidden="true"></i> .gitattributes</li>
                    <li><i class="fa fa-file-o" aria-hidden="true"></i> .gitignore</li>
                    <li><i class="fa fa-file-o" aria-hidden="true"></i> README.MD</li>
                    <li><i class="fa fa-file-o" aria-hidden="true"></i> default.ps1</li>
                    <li><i class="fa fa-file-o" aria-hidden="true"></i> run.ps1</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-12-24">
            <img class="pure-img-responsive service-icons" alt="Nuget" src="~/Assets/img/nuget-logo.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
            <h2 class="content-head content-head-ribbon">We also invite Nuget</h2>
            <p>
                We default to nuget package restore but that's your call. Regardless we get the latest and
                greatest from the nuget folks and drop that into your directory too!
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">And that is about it</h2>
        <div class="pure-g">

            <div class="l-box-lrg pure-u-1 pure-u-md-3-24 is-center"><i class="fa fa-file-o section-icons" aria-hidden="true"></i></div>
            <div class="l-box-lrg pure-u-1 pure-u-md-9-24">
                <h3>Don't for get the readme</h3>
                <p>Well also take some of the answers to the questions and get a readme started for you.</p>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-24 is-center"><i class="fa fa-git section-icons" aria-hidden="true"></i></div>
            <div class="l-box-lrg pure-u-1 pure-u-md-9-24">
                <h3>Have some git files</h3>
                <p>The final thing to we do is add a attributes and ignore file to your directory. </p>
            </div>

        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-12-24">
            <i class="fa fa-flag-checkered flag"  aria-hidden="true"></i>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-10-24">
            <h2 class="content-head content-head-ribbon">That is it</h2>
            <p>
                At this point we are done and you take it from here! You can make any manual changes you see fit and commit it to your repo. If you have suggestions or fixes please let us know.
            </p>
        </div>
    </div>


    <div class="footer l-box is-center">
        PsakeZero — @DateTime.Now.ToLocalTime().Year &copy;
    </div>

</div>